html {
    font-size: 62.5%;
    --details-color: #001747;
}

body {
    background-color: #0c1014;
    color: white;
    max-width: 960px;
    margin: 0 auto;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {  
    background-color: #05080a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 4rem;
    padding: 3rem 4rem;

}

.header__logo {
    font-size: 4rem;
    text-transform: uppercase;
}

.header__options ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 1.8rem;
}

.header__options a {
    color: white;
    padding: 1.6rem;
    border-radius: 10px;
    text-decoration: none; 
    overflow: hidden;
}

.header__options a:hover {
    background-color: var(--details-color) ;
    color: #05080a;
}

.main-title {
    text-align: center;
    font-size: 8rem;
}

.plans {
    display: flex;
    gap: 2rem;    
    margin: 1rem;
}

.plans-options {
    background-color: #1f262c;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    flex: 1;
    padding: 2rem;
    box-shadow: 0 5px 15px -6px black;
}

.plan-title {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--details-color);
    margin-bottom: 1em;
    text-transform: uppercase;
}

.plans-options p {
    font-size: 3rem;
    margin: 0;
}

.plan-pricing {
    font-size: 1.6rem;
}

.plan-price-features {
    font-size: 1.5rem;
    flex-grow: 1;
    padding-left: 1em;
    color: #cccc;
  
}

.plan-subscribe {
    background-color: var(--details-color);
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1em;
    border-radius: 6px;
    margin-top: 3em;
    
}

